body div#colorbox, body div#cboxOverlay, body div#cboxWrapper { z-index:4000; }

/* TOPSPIN FEATURED ITEMS */

div.topspin-featured-item {
	margin-bottom:30px;
	overflow:hidden;
}
div.topspin-featured-item div.topspin-item-image {
	float:left;
	width:250px;
	margin-bottom:10px;	
}
div.topspin-featured-item div.topspin-item-image img {
	width:inherit;
	margin-bottom:20px;
}
div.topspin-featured-item h2.topspin-item-title {
	clear:none;
	font-size:24px;
	line-height:30px;
	margin-left:280px !important;
	margin-bottom:20px;
}
div.topspin-featured-item div.topspin-item-desc {
	margin-left:280px;
	margin-bottom:20px;
}
div.topspin-featured-item div.topspin-item-price {
	color:#ff0000;
	font-size:18px;
	margin-bottom:20px;
	margin-left:280px;
}
div.topspin-featured-item div.topspin-item-buy {
	margin-bottom:10px;
	margin-left:280px;
}
div.topspin-featured-item div.topspin-item-buy a {
	font-size:24px;
	line-height:30px;
	background-color:#ff0000;
	color:#fff;
	text-decoration:none;
	padding:10px 15px;
}

/* TOPSPIN ITEM LISTINGS */

ul.topspin-item-listings {
	list-style-type:none;
	list-style:none;
	margin-left:0px;
	margin-bottom:15px;
}
ul.topspin-store-row {
	list-style-type:none;
	list-style:none;
	margin:0px;
}
li.topspin-clear {
	clear:both;
}
ul.topspin-item-listings li.topspin-item {
	float:left;
	overflow:hidden;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas {
	border-top:1px solid #000;
	padding-top:15px;
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
}
ul.topspin-item-listings li.row-start div.topspin-item-canvas {
	margin-left:0px;
}
ul.topspin-item-listings li.row-end div.topspin-item-canvas {
	margin-right:0px;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas h2.topspin-item-title {
	clear:none;
	font-size:18px;
	height:54px;
	line-height:22px;
	margin-bottom:20px;
	overflow:hidden;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-item-price {
	color:#ff0000;
	font-size:14px;
	margin-bottom:20px;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-item-image {
	width:100%;
	margin-bottom:20px;	
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-item-image a {
	width:inherit;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-item-image a img {
	width:inherit;
	margin-bottom:20px;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-item-buy {
	margin-bottom:20px;
	text-align:center;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-item-buy a {
	background-color:#ff0000;
	color:#fff;
	text-decoration:none;
	padding:3px 10px;
	display:block;
	width:50%;
}
ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-view-more-canvas {
	display:none;
}
ul.topspin-item-listings li.bundle_widget div.topspin-item-canvas {
	border-top:0px;
	padding-top:0px;
	margin-top:0px;
}

div.topspin-pagination {
	clear:both;
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	padding:5px 0px;
	overflow:hidden;
}
div.topspin-pagination a {
	background-color:#ff0000;
	color:#fff;
	text-decoration:none;
	padding:3px 10px;
}

/* TOPSPIN PAGINATION */

div.topspin-pagination a.topspin-prev {
	float:left;
}
div.topspin-pagination a.topspin-next {
	float:right;
}

/* TOPSPIN VIEW MORE */
div.topspin-view-more-canvas {
	width:790px;
	padding:5px;
}
div.topspin-view-more-canvas div.topspin-view-more-image {
	float:left;
	width:280px;
	font-size:24px;
	line-height:22px;
	margin-bottom:20px;
}
div.topspin-view-more-canvas div.topspin-view-more-image img {
	width:inherit;
	margin-bottom:20px;
}
div.topspin-view-more-canvas h2.topspin-view-more-title {
	clear:none;
	font-size:24px;
	line-height:30px;
	margin-bottom:20px;
	margin-left:290px;
}
div.topspin-view-more-canvas div.topspin-view-more-desc {
	margin-left:290px;
	margin-bottom:20px;
}
div.topspin-view-more-canvas div.topspin-view-more-buy {
	height:50px;
	margin-bottom:10px;
	margin-left:290px;
}
div.topspin-view-more-canvas div.topspin-view-more-buy a.topspin-buy {
	float:left;
	font-size:24px;
	line-height:30px;
	background-color:#ff0000;
	color:#fff;
	text-decoration:none;
	padding:10px 15px;
}
div.topspin-view-more-canvas div.topspin-view-more-buy div.topspin-view-more-price {
	float:right;
	height:50px;
	line-height:50px;
	color:#ff0000;
	font-size:18px;
	margin-bottom:20px;
	margin-left:280px;
}