div.topspin-featured-item div.topspin-item-image img {
	width:100%;
}

ul.topspin-item-listings li.topspin-item div.topspin-item-canvas div.topspin-item-image a img {
	width:100%;
}

div.topspin-view-more-canvas div.topspin-view-more-image img {
	width:100%;
}